In [1]:
#set --- to avoid duplicates and it is unordered
s1= {1,2,3}

In [2]:
print(s1)

{1, 2, 3}

In [3]:
s2={1,2,3,4}
print(s2)

{1, 2, 3, 4}

In [4]:
#indexing is not possible as it is unorder
print(s2[2:3])

TypeError: 'set' object is not subscriptable

In [5]:
#in set we use add not append
s2.add(24)

In [6]:
print(s2)

{1, 2, 3, 4, 24}

In [7]:
s2.remove(3)
print(s2)

{1, 2, 4, 24}

In [8]:
#remove shows error if the element we want to remove is not present
s2.remove(5)
print(s2)

KeyError: 5

In [10]:
#doesnt show any error
s2.discard(5)
print(s2)

{1, 2, 4, 24}

In [12]:
s2.pop()
print(s2)
set()

{4, 24}

set()

In [13]:
s3 = {1,2,3,4,5}
s3.pop()

1

In [14]:
#randomly picks pop removes any random from set and returns the removed element
s3.pop()

2

In [15]:
#dictionariess
dict1 = {'name': 'john', 'age': 24}

In [17]:
print(dict1['age'])

24

In [18]:
#can be modified
dict1['name']= 'christiano'

In [19]:
print(dict1['name'])

christiano

In [20]:
#relatinal(comparision) operators
a=1
b=1
print(a==b)

True

In [21]:
#compares element
l1=[1,2,3,4]
l2=[4,2,5,6]
print(l1==l2)

False

In [22]:
#compares memory location
l1=[1,2,3,4]
l2=[1,2,3,4]
print(l1 is l2)

False

In [23]:
#checks whether the element is present or not
l3=[1,2,3,4,5]
print(4 in l3)

True

In [24]:
l3=[1,2,3,4,5]
print(14 in l3)

False

In [28]:
#conditional loops
var1=int(input("Enter a number: "))
if var1>0:
  print("Positive")
elif var1<0:
  print("Negative")
else:
  print("Zero")

Enter a number: -12
Negative

In [29]:
var1=int(input("Enter a number: "))
if var1>50:
  print("greater than 50")
elif var1<50:
  print("less than 50")
else:
  print("Zero")

Enter a number: 56
greater than 50

In [37]:
var2=int(input("Enter a number: "))
if var2>0:
  print("Positive")
  if var2%2==0:
    print("Even")
    if var2%5==0:
      print("Multiple of 5")
  else:
    print("odd")
else:
  print("negative")

Enter a number: 14
Positive
Even

In [46]:
#rockpaperscissor
import random
user_input = input("Choose one of rock,paper, scissor")
options = ['rock','paper','scissor']
system_input = random.choice(options)
if user_input == system_input:
  print("Its a draw")
else:
    if user_input == 'rock':
      if system_input == 'scissor':
        print("You Won")
      else:
          print("You Loss")
    if user_input == 'paper':
      if system_input == 'rock':
        print("You Won")
      else:
          print("You Loss")
    if user_input == 'scissor':
      if system_input == 'paper':
        print("You Won")
      else:
          print("You Loss")

print(user_input)
print(system_input)

Choose one of rock,paper, scissorrock
Its a draw
rock
rock

In [47]:
#loops (start, end)
for i in range(1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [48]:
#table
var2 = int(input("Enter a number"))
for i in range(1,11):
  print(var2,"*",i,"=",var2*i)

Enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [49]:
#table
var2 = int(input("Enter a number"))
for i in range(1,11):
  print(var2,"*",i,"=",var2*i,",",end= ' ')

Enter a number5
5 * 1 = 5 , 5 * 2 = 10 , 5 * 3 = 15 , 5 * 4 = 20 , 5 * 5 = 25 , 5 * 6 = 30 , 5 * 7 = 35 , 5 * 8 = 40 , 5 * 9 = 45 , 5 * 10 = 50 ,

In [50]:
list1=[1,2,3,4]
for i in list1:
  print(i)

1
2
3
4

In [51]:
#travsersing
dict1 = {"SRH":99, "RCB":16.4, "MI":55}
for i in dict1:
  print(i)

SRH
RCB
MI

In [54]:
#travsersing
dict1 = {"SRH":99, "RCB":16.4, "MI":55}
for key,value in dict1.items():
 if value>=60:
  print(key,"is qualified")
 else:
  print(key,"is not qualified")

SRH is qualified
RCB is not qualified
MI is not qualified

In [55]:
#while loop not mostly used
i=1
while i<5:
  print(i)
  i=i+1

1
2
3
4

In [56]:
for i in range(0,6):
  for j in range(0,i):
    print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3
5 0
5 1
5 2
5 3
5 4

In [68]:
for i in range(0,7):
  for j in range(0,i+1):
    print("*",end= ' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [69]:
var2  =int(input("Enter num: "))
for i in range(0,var2):
  for j in range(0,i+1):
    print("*",end= ' ')
  print()

Enter num: 9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [71]:
#user defined function
list1=[1,2,3,4,3,2,3,3]
def count():
  cnt=0
  for i in list1:
    if i==2:
      cnt=cnt+1
      return cnt
print(count())
list1.append(3)
list1.append(2)
print(count())

1
1

In [72]:
#predefined
randlist=[1,2,3,4,5]
print(max(randlist))

5